@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --OPTIMAL-SIZE: 50px;
    --IMG-SIZE: 300px;
}

.heading {
    margin: var(--OPTIMAL-SIZE);
    padding: var(--OPTIMAL-SIZE);
    text-align: center;
    font-family: "Grenze Gotisch", serif;
    word-spacing: 10px;
    Letter-spacing: 4px;
    font-size: 4em;
    color: rgb(80, 142, 176);
    background-color: aliceblue;
}

ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    font-family: cursive;
    font-size: 20px;
    padding: var(--OPTIMAL-SIZE);
    margin: var(--OPTIMAL-SIZE);
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

img {
    height: var(--IMG-SIZE);
    width: var(--IMG-SIZE);
    display: block;
    border-radius: 20px 20px 0 0;
}

ul > li {
    border: 2px solid black;
    font-size: 1.5em;
    padding: 10px;
    background-color:rgb(52, 53, 54);
    border-radius: 20px;
}

a:any-link {
    text-decoration: none;
    color: rgb(239, 199, 199);
}

a:hover, a:focus-visible {
    cursor: pointer;
    color: rgb(169, 173, 240);
}



footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: var(--OPTIMAL-SIZE);
}

@media only screen and (max-width: 600px) {
    ul {
        flex-direction: column;
        gap: 50px;
    }
}